section.section.hero
        .hero__bg
            img(src="assets/img/backgr1800.png" alt="").hero_bg-img

        .hero__container
            .user
                .user__pic-container
                    img(src="assets/img/person.png" alt="").user__pic
                .user__name
                    | Danil Konstantinov
                .user__desc
                    | Lifestyle blog


        .button-bottom.button-bottom_abscolute
            a(href="#").button-bottom__link
                svg.button-bottom__icon
                    use(xlink:href="assets/img/sprite.svg#arrow_down")