.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="#").main-nav__link Мои работы

        li.main-nav__item
            a(href="/about.html").main-nav__link Обо мне

        li.main-nav__item
            a(href="/blog.html").main-nav__link Блог

        li.main-nav__item
            a(href="/admin1.html").main-nav__link Admin

        li.main-nav__item
            a(href="/preload.html").main-nav__link Images

        li.main-nav__item
            a(href="/slider.html").main-nav__link Slider