.about{
  position: relative;

    @include tablets{
      font-size: 1em;
    }

  @extend %clearfix;
}

.about__col{
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 50%;

  @include tablets{
    float: none;
    position: static;
    width: 100%;
  }

    &_left{
      background: $white;

      .about__triangle{
        left: 0;
        fill: $white;
      }

    }

    &_right{
      background: $bejeviy;

      .about__triangle{
        right: 0;
        fill: $bejeviy;

          @include tablets{
            fill: $white;
          }
      }
    }
}

.section-wrapper{
  text-align: center;
}


.section-title{
  background-image: url(../img/about_bg.png);
  font-size: 4em;
  color: $titlegrey;
  text-align: center;
  padding: 45px 80px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  @include bernier;
  position: relative;

    &:before, &:after{
      content: "";
      display: block;
      width: 22px;
      height: 5px;
      @include centered(y);
      background: #c9c9c6;
    }

    &:before{
      left: 30px;
    }

    &:after{
      right: 30px;
    }
}

.about__pic-container{

}

.about__pic{
  max-width: 100%;
  height: auto;
}

.block-title{
  @include bernier;
  font-size: 2.2em;
  font-weight: 700;
  padding: 1em 2em;
  text-transform: uppercase;
  color: $titlegrey;
  display: inline-block;
  position: relative;

    @include iphones{
      font-size: 1.8em;
      padding: 1em;
      line-height: 1.8em;
      vertical-align: bottom;

    }

  &:before, &:after{
    content: "";
    display: block;
    width: 22px;
    height: 5px;
    @include centered(y);
    background: #c9c9c6;
  }

  &:before{
    left: -10px;
  }

  &:after{
    right: -10px;
  }
}

.block-text{
  padding: 1em 80px;
  text-align: left;
    @include iphones{
      padding: 1em;
      text-align: center;
    }
}