.footer{
  background: rgba(55,62,66,0.85);
  position: absolute;
  padding: 1em 5%;
  bottom: 0;
  height: 150px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;

  @include tablets{
    height: auto;

  }

  @include iphones{
    white-space: normal;
  }
}

.footer__col{
  height: 80px;
  width: 50%;

  @include tablets{
    height: auto;
    text-align: center;
    width: 100%;
  }

}
.footer__col_left{
  float: left;
  @include tablets{
    float: none;
  }

}

.footer__col_right{
  float: right;
  @include tablets{
    float: none;
  }
}

@include list (footer-nav-list, left);

.footer-nav-list{
  @include tablets{
    display: inline-block;
    text-align: center;
  }

}


.footer-nav-list__item{
  color: #fff;
  line-height: 20px;
  font-weight: 300;
  font-size: 1.2em;
  padding: 0;
  @include iphones{

  }
}

.footer-nav__link{
  color: #ffffff;
  display: block;
  padding: 1em;
  text-decoration: none;
  @include iphones{
    padding: 1em 0;
  }
}


hr{
  clear: both;
  display: block;
}

.copyright{
  display: inline-block;
  height: 70px;
  bottom: 0;
  vertical-align: top;
  width: 50%;
  white-space: nowrap;

  @include tablets{
    display: block;
    height: auto;
    width: 100%;
    text-align: center!important;
  }

  @include iphones{
    white-space: normal;
  }

}
.copyright_left{
  text-align: left;

}

.copyright_right{
  text-align: right;

}

.footer-socials{
  text-align: right;
  @include tablets{
    display: inline-block;
    text-align: center;
  }
}

.socials-list__link_psevdo{
  border: 1px solid #fafafa;
  display: block;
  padding: 7px;
  border-radius: 50%;
  height: 35px;
  width:35px;
    &:hover{
      background-color: #fafafa;
    }

    &:active{
      background-color: #fafafa;
    }

}
.socials-list__icon{

}


