.wrapper{
	position: relative;
}

body{
	@include tablets{
		font-size: 0.825em;
		width: 100%;
	}
}

.hero{
	height: 90vh;
	overflow: hidden;
	position: relative;
	min-height: 650px;
}

.hero__bg{
	top:0;
	width: 100%;
	@include centered(x);
}

.hero__container{
	margin-top: 10%;
	@include centered(x);
}

.user{
	background: $bejeviy;
	color: #fff;
	font-weight:100;
	text-align: center;
	padding: 3em;
}

.user__pic-container{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 25px;
	overflow: hidden;
	display: inline-block;	
}

.user__pic{
  max-width: 170px;
  height: auto;
}

.user__name{
	margin-bottom: 10px;
	font-size: 2.2em;
}

.button-bottom{

}

.button-bottom_abscolute{
	position: absolute;
	@include centered(x);
	bottom: 50px;
	z-index: 50;
}

.button-bottom__link{
	display: block;
	padding: 8px;

}

.button-bottom__icon{
	height: 40px;
	width: 40px;
	fill: #ffffff;
}
