.skills {
  padding:  0 2em;

}
.skills__title {
  @include bernier;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $titlegrey;
  display: inline-block;
  position: relative;
  padding: 1em 2em;

    @include tablets{
      font-size: 1.8em;
      padding: 1em 6em;
    }

    @include iphones{
      font-size: 1.6em;
      padding: 1em 2em;
    }


  &:before, &:after{
        content: "";
        display: block;
        width: 22px;
        height: 5px;
        @include centered(y);
        background: #c9c9c6;
      }

      &:before{
        left: 30px;
      }

      &:after{
        right: 30px;
      }
}

.skills__text {

}

.skills-group-list{
  display: block;
  margin: 0;
  padding: 0;
  @include tablets {
    text-align: center;
    padding: 2em 0;
  }

}

.skills-group__item{
  display: block;
  list-style: inside none;
  margin-bottom: 1em;
}

.skills-group__title{
  @include bernier;
  font-size: 2em;
  font-weight: 300;
}

.skills-list{
  display: block;
  margin: 0;
  padding: 0;

  @include iphones{
    display: inline-block;
    text-align: center;
    font-size: 0;
  }

}

.skills-list__item{
  display: inline-block;
  list-style: inside none;
  margin-right: 1em;

  @include iphones{
    font-size: 16px;
    width: 50%;
    margin-right: 0;

  }

    &:last-child{
      margin-right: 0;
    }

}

.skill{
  position: relative;
}

.skill__circle{
  width: 100px;
  height: 100px;
  display: block;
  fill: transparent;
  stroke-width: 15;
  stroke: red;
}

.skills__circle-under{
  stroke: #dfdcd5;

}

.skills__circle-above{
  stroke: $green;
  stroke-dasharray: 400;
  stroke-dashoffset: 361;
  transition: all 1s;
}

.skill__title{
  font-weight:100;
  text-align: center;
  @include centered();
}