.hero__social-blok{
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;

}

.socials-list{
  margin: 0;
  padding: 0;
  display: block;
}

.socials-list__item{
  display: inline-block;
  vertical-align: top;
  list-style: inside none;

}

.socials-list__link{
  display: block;
  padding: 0.5em;

}
.socials-list__icon{
  width: 35px;
  height: 35px;
  fill: #ffffff;
}

.hamburger{
  position: absolute;
  top:20px;
  right: 20px;
}

.hamburger__img{

}