.socials{
  background: $green;
  position: absolute;
  top: 20px;
  left: 20px;

}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  width: 50px;

}

socials__icon{
  width: 25px;
  height: 35px;

}