.hero__social-blok{
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;

}

.socials-list{
  margin: 0;
  padding: 0;
  display: block;
}

.socials-list__item{
  display: inline-block;
  vertical-align: top;
  list-style: inside none;

}

.socials-list__link{
  display: block;
  padding: 0.5em;

}
.socials-list__icon, .socials-list__icon_color_green{
  width: 35px;
  height: 35px;
  fill: #ffffff;
    &_color_green{
      fill: $green;
    }
}

.hamburger_absolute{
  position: absolute;
  top:20px;
  right: 20px;
}

.hamburger__link{
  display: block;
}

.hamburger__img{
  fill: #ffffff;
  height: 40px;
  width: 40px;
}