// colors

$white: #fff;  // переменна объявляется с $ и также вставляется
$bejeviy: #eeebdf;
$green: #10c1a8;
$titlegrey: #373e42;

//mixins

@import 'mixins/centered';

//fonts

@import "mixins/fonts";

body {
  margin: 0;
}

@import 'common/greating';
@import 'blocks/user';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/skylls';
@import 'blocks/socials';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/mainnav';
@import "blocks/blog";
@import "blocks/admin";
@import "blocks/triangles";
@import "blocks/wrap-pics";
@import "blocks/login";


