extends ../_template

block variables
    - var title = 'Константинов Данил'

block content
    .wrapper
        section.section.hero
            .hero__bg
                img(src="assets/img/backgr1800.png" alt="").hero_bg-img

            .hero__container
                .user
                    .user__pic-container
                        img(src="assets/img/person.png" alt="").user__pic
                    .user__name
                        | Danil Konstantinov
                    .user__desc
                        | Lifestyle blog

            ul.socials
                - var icons = ['vk', 'github', 'in']

                each icon in icons
                    li.socials__item
                        a(href="#").socials__link
                            svg.socials__icon
                                use(xlink:href=`assets/img/sprite.svg#${icon}`)


        section.about
            .about__col.about__col_left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").about__triangle
                    polygon(points="0,0 0,110 1000,110")

                .section-wrapper
                    .section-title
                        | Обо мне
                    .about
                        .about__pic-container
                            img(src="assets/img/person.png" alt="").about__pic
                        .block-title
                            | кто я
                        .block-text
                            p
                                |текст текст текст текст текст текст текст
                                |текст текст текст текст текст текст текст
                            p
                                |текст текст текст текст текст текст текст
                                |текст текст текст текст текст текст текст

            .about__col.about__col_right
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").about__triangle
                    polygon(points="0,110 1000,110 1000,0")

                .skills
                    .skills__title
                        |Чем я могу быть вам полезен
                    .skills__text
                        p
                            |Больше всего меня привлекает отдавать фронт-энд разработку джуниор-девелоперу
                        p
                            |Но все наши джуны - из поколения Y, поэтому кросс-браузерную верстку им не доверяю!

                    ul.skills-group
                        li.skills-group__item
                            .skills-group__title Frontend
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | CSS 3
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            |Java Script &
                                            |jQuery
                    ul.skills-group
                        li.skills-group__item
                            .skills-group__title Frontend
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.
                    ul.skills-group
                        li.skills-group__item
                            .skills-group__title Frontend
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5.


        section.section.map
