extends ../_index-template

block variables
    - var title = 'dscfdc'



    section.section.wrap-pics
        img(src="assets/img/about_bg.png" alt="").wrap__pic
        img(src="assets/img/backgr18001.png" alt="").wrap__pic
        img(src="assets/img/Layer 15.png" alt="").wrap__pic
        img(src="assets/img/person.png" alt="").wrap__pic

        .test
        .test2

    .preloader
        .preloader__spinner
            .preloader__animation
            .preloader__persentes 0%