extends ../_index-template

block variables
    - var title = 'dscfdc'


    .slider-wrapper

        .slider__big
            img.slider__big_img(src='assets/img/slide1.png')



        .slider.slider_first
            .slider__display

                ul.slider__list
                    li.slider__item.slider__item_left
                        a.slider__link(href='assets/img/slide1.png')
                            img(src='assets/img/slide1_min.png').slider__img
                    li.slider__item.slider__item_left.active
                        a.slider__link(href='assets/img/slide2.png')
                            img(src='assets/img/slide2_min.png').slider__img
                    li.slider__item.slider__item_left
                        a.slider__link(href='assets/img/slide3.png')
                            img(src='assets/img/slide3_min.png').slider__img
                    li.slider__item.slider__item_left
                        a.slider__link(href='assets/img/slide4.png')
                            img(src='assets/img/slide4_min.png').slider__img

                a.slider__controls.slider__controls_top(href='#') Следующая


        .slider.slider_second
            .slider__display
                ul.slider__list
                    li.slider__item.slider__item_right
                        a.slider__link(href='assets/img/slide1.png')
                            img(src='assets/img/slide1_min.png').slider__img
                    li.slider__item.slider__item_right
                        a.slider__link(href='assets/img/slide2.png')
                            img(src='assets/img/slide2_min.png').slider__img
                    li.slider__item.slider__item_right
                        a.slider__link(href='assets/img/slide3.png')
                            img(src='assets/img/slide3_min.png').slider__img
                    li.slider__item.slider__item_right.active
                        a.slider__link(href='assets/img/slide4.png')
                            img(src='assets/img/slide4_min.png').slider__img

                a.slider__controls.slider__controls_bot(href='#') Предыдущая



